<a href="/events">Events Dashboard</a>
<h1>Edit profile</h1>
<br>
<form action="/users/<%= @user.id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="patch">
    <label>First Name</label>
    <input type="text" name = "user[first_name]" value = "<%= @user.first_name %>">
    <br><br>
    <label>Last Name:</label>
    <input type="text" name = "user[last_name]" value = "<%= @user.last_name %>">
    <br><br>
    <label>Email:</label>
    <input type="text" name = "user[email]" value = "<%= @user.email %>">
    <br><br>
    <label>Location:</label>
    <input type="text" name="user[location]" value="<%= @user.location %>">
    <select name="user[state]" value="<%= @user.state %>">
        <option value="AK">AK</option>
        <option value="AZ">AZ</option>
        <option value="CA">CA</option>
        <option value="WA">WA</option>
        <option value="Other">Other</option>
    </select>
    <br><br>
	<input type="submit" value="Update">
</form>